# Node
node_modules/
npm-debug.log*

# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# ML
*.pkl
*.joblib
*.h5
*.pt
*.pth

# Uploads
uploads/
*.jpg
*.jpeg
*.png

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/